@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

:root,
html[data-theme='light'] {
  --primary: #16abf8;
  --black: #111111;
  --white: #ffffff;
  --bg: #f4f4f4;
  --text: #888888;
  --danger: #ed4c5c;
  --divider: #dee2e6;
  --dimmer: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
