@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

:root,
html[data-theme='light'] {
  --primary: #1890ff;
  --black: #111111;
  --white: #ffffff;
  --grey: #888888;
  --bg: #f4f4f4;
  --text: #252525;
  --text-grey: #888888;
  --danger: #ed4c5c;
  --divider: #dee2e6;
  --dimmer: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

#root {
  min-height: 100vh;
}

@import './animations.css';

/* ============== ANTD OVERRIDES ============== */

.ant-input {
  height: 2.5rem;
}
.ant-input-password {
  padding: 0 0.688rem;
}
.ant-input-password .ant-input {
  height: 2.375rem;
}
.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  top: 0;
}

/* ============== END ANTD OVERRIDES ============== */
